# See http://help.github.com/ignore-files/ for more about ignoring files.

# ----- WEB -----
# compiled output
/web/dist
/web/tmp

# dependencies
/web/node_modules
/web/bower_components

# IDEs and editors
/web/.idea
/web/.vscode
/web.project
/web.classpath
/web.c9/
/web*.launch
/web.settings/

# misc
/web/.sass-cache
/web/connect.lock
/web/coverage/*
/web/libpeerconnection.log
/webnpm-debug.log
/webtestem.log
/web/typings

# e2e
/web/e2e/*.js
/web/e2e/*.map

#System Files
/web/.DS_Store
/web/Thumbs.db

# ----- API -----
/api/target/
